name: Main Tests

on:
 push:
   branches:
     - master
 pull_request:
   branches:
     - master

jobs:
  build-linux:
    strategy:
      max-parallel: 5
      matrix:
        os:
          - ubuntu-latest
          #- macos-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda install -c conda-forge mamba
        mamba env update --file environment.yml --name base
    - name: Lint with flake8
      run: |
        mamba install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Lint with black
      run: |
        mamba install black
        black --check --diff .
    - name: Test with pytest
      run: |
        ymp env install virprof_py
        $(ymp env activate virprof_py)
        mamba install pytest
        pytest
